@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700&family=Patua+One&family=IBM+Plex+Mono&family=Nuosu+SIL&family=Space+Grotesk&family=Press+Start+2P&display=swap');
.header{
    padding-top: 40px;
}

.main {
    padding-top: 80px;
    display: flex;
    width: 60%;
    margin: 0 auto;
    /* min-width: 720px; */
}

.left {
    width: 35%;
    margin-right: 1%;
}

.right {
    width: 65%;
    margin-left: 2%;
    margin-bottom: 2%;
}


.plot{
    width: 100%;
    float: right;
    padding-bottom: 20px;
}

@media screen and (max-width: 720px) {
    .main {
        flex-direction: column;
        align-items: center;
    }


    .left{
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .plot{
        float: none;
        width: 100%;
        padding: 4%;
    }

    .right{
        width: 130%;
        padding-bottom: 30px;
    }

    
}

.name{
    font-family: 'Patua One';
    font-size: 50px;
    text-align: center;
    line-height: 0%;
}

.nav{
    font-family: 'Darker Grotesque';
    font-size: 30px;
    text-align: center;
    /* padding-bottom: 80px; */
    color: inherit;
}

.link{
    color: black;
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}


.text-small{
    padding-top: 1px;
    font-family: 'Darker Grotesque';
    font-size: 20px;
    margin: 0;
    /* margin-right: 50px; */
    line-height: 110%;
    /* width: 80%; */
 }
 

.text{
    padding-top: 1px;
    font-family: 'Darker Grotesque';
    font-size: 22px;
    margin: 0;
    /* margin-right: 50px; */
    line-height: 120%;
    /* width: 80%; */
 }
 


 .date{
     font-family: "IBM Plex Mono";
 }


 .links{
    text-align: center;
    color: blue;
    text-decoration: none;
    font-family: "Space Grotesk";
    font-size: 10;
}