@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Anonymous+Pro|Nuoso+SIL|Patua+One|Inconsolata|Lora|Darker+Grotesque|Bagel+Fat+One|Poppins:wght@700&display=swap");

.header{
    padding-top: 40px;
}

.main {
    display: flex;
    width: 60%;
    margin: 0 auto;
    /* min-width: 720px; */
}


.left {
    width: 29%;
    margin-right: 1%;
}

.social{
    text-align: center;
    padding-left: 2%;
}


.social-link{
    width: 22px;
    padding-left: 3%;
    padding-right: 3%;
}


.right {
    width: 55%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.lefts{
    width: 65%;
    float: right;
    padding-right: 3%;
}

.avatar{
    /* padding-right: 30px; */
    width: 100%;
    border-radius: 10px; 
}

@media screen and (max-width: 720px) {
    .main {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .left{
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .lefts{
        width: 100%;
        float: none;
        text-align: center;
        align-items: center;
    }

    .avatar{
        float: none;
        width: 30%;
        border-radius: 40px;
        /* padding: 2%; */
    }

    .right{
        width: 75%;
    }
    

    .social{
        text-align: center;
    }

    .social-link{
        width: 20px;
        padding-left: 1%;
        padding-right: 1%;
    }


}


.name{
   /* font-family: 'Patua One'; */
    font-family: 'Poppins';
    font-size: 50px;
    text-align: center;
    line-height: 0%;
}

.nav{
    font-family: 'Darker Grotesque';
    font-size: 30px;
    text-align: center;
    padding-bottom: 80px;
    color: inherit;
}

.link{
    color: black;
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}

.text{
    /* padding-top: 1%; */
    font-family: 'Darker Grotesque';
    font-size: 20px;
    margin: 0;
    line-height: 120%;
 }
 
.updates{
    padding-top: 0px;
    font-family: 'Noto Sans';
    font-size: 14px;
    line-height: 30px;
}

 .date{
    font-size: 14px;
    padding-right: 14px;
    display: inline;
    font-family: "Anonymous Pro";
 }
