<div class=author-info>
    <img src="{{ site.author_image_path }}" class=author-image />
    <h1 class=author-name><a href=/>{{ site.author_name }}</a></h1>
    <div class=nav>
        <a href="{{ site.github_url }}"><i class=icon-github-alt></i></a>
        <a href="{{ site.twitter_url }}"><i class=icon-twitter></i></a>
        <a href="{{ site.linkedin_url }}"><i class=icon-linkedin></a></i>
        <a href="{{ site.facebook }}"><i class=icon-facebook-f></i></a>
    </div>
    <div class=home-nav>
        <ul>
            <li><a href="/projects/">Projects</a>
            </li>
            <li>
                <a class=resume-link href="/cv.pdf">CV</a><br/>
		<a class=resume-link href="https://sites.google.com/view/hussamh10/books" target="_blank">Blog</a>
            </li>
        </ul>
    </div>
</div>
