@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700&family=Patua+One&family=IBM+Plex+Mono&family=Nuosu+SIL&family=Space+Grotesk&family=Press+Start+2P&display=swap');
.header{
    padding-top: 40px;
}

.main {
    padding-top: 80px;
    display: flex;
    width: 60%;
    margin: 0 auto;
}

.plot{
    width: 100%;
    /* float: center; */
    border-radius: 20px;
    padding-bottom: 0px;
    border: 2px solid #555;
}


.left {
    width: 35%;
    padding: 20px;
}

.right {
    width: 65%;
}

@media screen and (max-width: 720px) {
    .main {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .right{
        width: 100%;
    }


    .left{
        width: 50%;
    }
}
  


.name{
    font-family: 'Patua One';
    font-size: 50px;
    text-align: center;
    line-height: 0%;
}

.nav{
    font-family: 'Darker Grotesque';
    font-size: 30px;
    text-align: center;
    /* padding-bottom: 80px; */
    color: inherit;
}

.link{
    color: black;
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}


.text-small{
    font-family: 'Darker Grotesque';
    font-size: 16px;
    margin: 0;
    text-align: center;
    /* margin-right: 50px; */
    line-height: 110%;
    /* width: 80%; */
 }
 

.text{
    font-family: 'Darker Grotesque';
    text-decoration: none;
    font-size: 24px;
    margin: 0;
    text-align: center;
    line-height: 110%;
 }
 


 .date{
     font-family: "IBM Plex Mono";
 }


 .links{
    text-align: center;
    color: blue;
    text-decoration: none;
    font-family: "Space Grotesk";
    font-size: 10;
}
